# Self-Driving Car Data Management System
This database is engineered to handle the intricate data of a fleet of self-driving cars. It includes tables for the cars themselves, the various sensors equipped in each car, trip logs, and maintenance records, enabling comprehensive data analysis and operational oversight.

# Installing ipython-sql
To run SQL commands directly within this Jupyter Notebook, we need the `ipython-sql` extension. This extension enables Jupyter Notebook to execute SQL commands. We'll install it using pip, the Python package installer. This installation is necessary to allow us to write and execute SQL queries in the notebook.

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/4d/81/316b6a55a0d1f327d04cc7b0ba9d04058cb62de6c3a4d4b0df280cbe3b0b/prettytable-3.9.0-py3-none-any.whl.metadata
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/c7/55/d1d2ad054fb7e9188681d56df40ed81c2c198314a805b180b0ec99019da1/SQLAlchemy-2.0.23-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp311-cp311-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: six in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/stevearmstrong/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.23-cp311-cp311-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 12.0 MB/s eta 0:00:00a 0:00:01
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.23 sqlparse-0.4.4

# Loading the SQL Extension
After installing `ipython-sql`, we need to load it into our Jupyter environment. This is done using the `%load_ext` magic command. This command activates the `sql` extension, allowing us to run SQL queries in our notebook cells. By loading this extension, we enable SQL syntax for designated cells, making database interactions seamless and integrated within this Jupyter Notebook.

In [3]:
%load_ext sql

# Connecting to SQLite Database
Now that we have the SQL extension ready, the next step is to establish a connection to a SQLite database. SQLite is a database engine that requires no separate server process and stores the entire database as a single file on disk. We use the `%sql` magic command followed by `sqlite://` to connect to an SQLite database. This connection is in-memory by default, meaning it doesn’t persist after the notebook session ends.

In [4]:
%sql sqlite://

## Database Structure (DDL)
The tables for our self-driving car data system includes `cars`, `sensors`, `trips`, and `maintenance` tables, each with specific attributes and relational integrity constraints.

# Cars Table
The `cars` table is designed to store basic information about each self-driving car in the fleet. This includes a unique identifier for each car (`car_id`), the model of the car (`model`), the year of manufacture (`year`), and the date of the last maintenance (`last_maintenance_date`). The `car_id` serves as the primary key for this table.

In [5]:
%%sql
CREATE TABLE cars (
    car_id INT PRIMARY KEY,
    model VARCHAR(50),
    year INT,
    last_maintenance_date DATE
);

 * sqlite://
Done.

[]

# Sensors Table
In the `sensors` table, we record information about the various sensors installed in each car. Each sensor has a unique identifier (`sensor_id`), and the table links each sensor to a specific car using `car_id`. The table also records the type of sensor (`type`) and the date it was installed (`installation_date`). The `car_id` in this table acts as a foreign key that references the `car_id` in the `cars` table, establishing a relational link between the two.

In [6]:
%%sql
CREATE TABLE sensors (
    sensor_id INT PRIMARY KEY,
    car_id INT,
    type VARCHAR(50),
    installation_date DATE,
    FOREIGN KEY (car_id) REFERENCES cars(car_id)
);

 * sqlite://
Done.

[]

# Trips Table
The `trips` table captures data about the trips each self-driving car makes. It includes a unique identifier for each trip (`trip_id`), the `car_id` to link it to the specific car, the start and end times of the trip (`start_time` and `end_time`), and the total miles driven during the trip (`miles_driven`). The `car_id` field is a foreign key that connects to the `car_id` in the `cars` table, thus allowing us to track which car made which trip.

In [7]:
%%sql
CREATE TABLE trips (
    trip_id INT PRIMARY KEY,
    car_id INT,
    start_time DATETIME,
    end_time DATETIME,
    miles_driven DECIMAL(10, 2),
    FOREIGN KEY (car_id) REFERENCES cars(car_id)
);

 * sqlite://
Done.

[]

# Maintenance Table
This table, `maintenance`, is used to log maintenance activities for each car. It includes a unique identifier for each maintenance record (`maintenance_id`), the `car_id` of the car that received maintenance, the date of maintenance (`maintenance_date`), and a text field (`details`) for additional information about the maintenance performed. The `car_id` here is a foreign key linked to the `car_id` in the `cars` table, enabling us to track a car's maintenance history.

In [8]:
%%sql
CREATE TABLE maintenance (
    maintenance_id INT PRIMARY KEY,
    car_id INT,
    maintenance_date DATE,
    details TEXT,
    FOREIGN KEY (car_id) REFERENCES cars(car_id)
);

 * sqlite://
Done.

[]

## Data Loading Scripts
With our tables created, we can now proceed to populate them with data.

# Inserting Data into the Cars Table
Here, we populate the `cars` table with data. This involves inserting records that represent individual cars in the fleet. Each record includes a unique `car_id`, the car's `model`, its `year` of manufacture, and the `last_maintenance_date`.

In [22]:
%%sql
INSERT INTO cars (car_id, model, year, last_maintenance_date) VALUES
(1, 'Model X', 2019, '2021-06-15'),
(2, 'Model Y', 2020, '2021-07-20'),
(3, 'Model Z', 2021, '2021-08-05'),
(4, 'Model A', 2018, '2021-05-10'),
(5, 'Model B', 2019, '2021-09-15');

 * sqlite://
5 rows affected.

[]

# Inserting Data into the Sensors Table
In this step, we add data to the `sensors` table. Each sensor installed in the cars is recorded here. The data includes a `sensor_id`, the `car_id` to which the sensor is attached, the `type` of sensor (e.g., LIDAR, camera), and the `installation_date`. These records help in tracking the sensor equipment of each car, crucial for maintenance and performance analysis of the self-driving fleet.

In [23]:
%%sql
INSERT INTO sensors (sensor_id, car_id, type, installation_date) VALUES
(101, 1, 'LIDAR', '2019-01-15'),
(102, 1, 'Camera', '2019-01-15'),
(103, 2, 'LIDAR', '2020-02-20'),
(104, 2, 'Camera', '2020-02-20'),
(105, 3, 'LIDAR', '2021-03-25'),
(106, 3, 'Camera', '2021-03-25'),
(107, 4, 'LIDAR', '2018-04-30'),
(108, 4, 'Camera', '2018-04-30'),
(109, 5, 'LIDAR', '2019-05-05'),
(110, 5, 'Camera', '2019-05-05');

 * sqlite://
10 rows affected.

[]

# Inserting Data into the Trips Table
Next, we fill the `trips` table with data representing various trips made by the cars. Each entry in this table includes a `trip_id`, the `car_id` of the car that made the trip, the `start_time` and `end_time` of the trip, and the `miles_driven` during the trip. This data is vital for analyzing the usage patterns, efficiency, and operational scope of the self-driving cars.

In [24]:
%%sql
INSERT INTO trips (trip_id, car_id, start_time, end_time, miles_driven) VALUES
(1001, 1, '2021-06-01 08:00:00', '2021-06-01 09:30:00', 60),
(1002, 2, '2021-06-02 10:00:00', '2021-06-02 11:00:00', 40),
(1003, 3, '2021-06-03 12:00:00', '2021-06-03 14:00:00', 80),
(1004, 4, '2021-06-04 15:00:00', '2021-06-04 16:15:00', 45),
(1005, 5, '2021-06-05 17:00:00', '2021-06-05 18:00:00', 30),
(1006, 1, '2021-06-06 08:00:00', '2021-06-06 10:00:00', 70),
(1007, 2, '2021-06-07 11:00:00', '2021-06-07 11:45:00', 25),
(1008, 3, '2021-06-08 13:00:00', '2021-06-08 15:30:00', 90),
(1009, 4, '2021-06-09 16:00:00', '2021-06-09 17:30:00', 55),
(1010, 5, '2021-06-10 18:00:00', '2021-06-10 19:00:00', 35);

 * sqlite://
10 rows affected.

[]

# Inserting Data into the Maintenance Table
Finally, we input records into the `maintenance` table. This table tracks the maintenance history of each car. Each record includes a `maintenance_id`, the `car_id` of the car that underwent maintenance, the `maintenance_date`, and a `details` field for additional information about the maintenance activity. This information is crucial for managing the upkeep and reliability of the vehicle fleet.

In [25]:
%%sql
INSERT INTO maintenance (maintenance_id, car_id, maintenance_date, details) VALUES
(5001, 1, '2021-06-15', 'Routine check-up'),
(5002, 2, '2021-07-20', 'Battery replacement'),
(5003, 3, '2021-08-05', 'Tire replacement'),
(5004, 4, '2021-05-10', 'Software update'),
(5005, 5, '2021-09-15', 'Sensor calibration'),
(5006, 1, '2021-10-05', 'Brake pad replacement'),
(5007, 2, '2021-11-10', 'Oil change'),
(5008, 3, '2021-12-15', 'Routine check-up'),
(5009, 4, '2022-01-20', 'Headlight repair'),
(5010, 5, '2022-02-25', 'Battery check-up');

 * sqlite://
10 rows affected.

[]

# Sensor Types and Their Lifespan
This analysis focuses on the different types of sensors and their lifespan (from installation to the current date or last maintenance). This information is key to predicting sensor replacement and understanding which sensor types are more durable.

In [26]:
%%sql
SELECT type, AVG(julianday('now') - julianday(installation_date)) as average_lifespan_days
FROM sensors
GROUP BY type;

 * sqlite://
Done.

[('Camera', 1579.7548901733942), ('LIDAR', 1579.7548901733942)]

# Most Common Maintenance Activities
Identifying the most common types of maintenance activities can help in understanding the prevalent issues in the fleet. This information is valuable for focusing on preventive measures and training.

In [27]:
%%sql
SELECT details, COUNT(*) as count
FROM maintenance
GROUP BY details
ORDER BY count DESC;

 * sqlite://
Done.

[('Routine check-up', 2),
 ('Tire replacement', 1),
 ('Software update', 1),
 ('Sensor calibration', 1),
 ('Oil change', 1),
 ('Headlight repair', 1),
 ('Brake pad replacement', 1),
 ('Battery replacement', 1),
 ('Battery check-up', 1)]

# Analysis of Maintenance Frequency After Long Trips
This analysis aims to examine whether cars require more frequent maintenance after undertaking long trips. By identifying maintenance records that follow trips exceeding a certain mileage threshold within a specified time window, we can infer whether long trips contribute to an increased need for maintenance. This information is crucial for planning maintenance schedules and understanding the wear and tear impacts of long trips.

In [28]:
%%sql
SELECT t.car_id, COUNT(m.maintenance_id) as post_long_trip_maintenance
FROM maintenance m
JOIN trips t ON m.car_id = t.car_id
WHERE t.miles_driven > 50 -- Assuming trips over 50 miles as long trips
AND julianday(m.maintenance_date) - julianday(t.end_time) <= 30 -- 30 days window
GROUP BY t.car_id;

 * sqlite://
Done.

[(1, 2), (4, 1)]

# Car Utilization Analysis Based on Mileage
This analysis focuses on understanding how much each car is being used by summing up the miles driven. High mileage could indicate heavy usage, which might correlate with maintenance needs or sensor wear. This information is key to managing fleet utilization and anticipating maintenance needs.

In [30]:
%%sql
SELECT car_id, SUM(miles_driven) as total_miles
FROM trips
GROUP BY car_id;

 * sqlite://
Done.

[(1, 130), (2, 65), (3, 170), (4, 100), (5, 65)]

# Correlation Between Car Age and Maintenance Needs
This query explores whether the age of the cars (determined by the `year` field) affects their maintenance requirements. Older cars might be expected to require more frequent maintenance. Understanding this correlation can aid in predictive maintenance planning and fleet renewal strategies.

In [31]:
%%sql
SELECT c.year, COUNT(m.maintenance_id) as maintenance_count
FROM cars c
JOIN maintenance m ON c.car_id = m.car_id
GROUP BY c.year;

 * sqlite://
Done.

[(2018, 2), (2019, 4), (2020, 2), (2021, 2)]